@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

html {
  overflow-x: hidden;
}

.Landing {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.Landing--Text {
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
}

.Landing--imageHighlight {
  z-index: -1;
}

.Landing--Model {
  width: auto;
  height: 40em;
}

.Landing--Rec {
  transform: translate(-50px, 150px);
}

.Landing--bg {
  position: relative;
  transform: translate(100px, 650px);
  z-index: -2000;
  opacity: 80%;
}

.Landing--Btn {
  color: white;
  background-color: black;
  padding: 1.5em 1.5em;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
}

.Landing--AlternateModel {
  transform: translate(350px, -840px);
}

.Landing--NextButton {
  width: 2.5em;
  height: auto;
  transform: translate(320px, -500px);
  z-index: 5;
  position: relative;
  opacity: 60%;
}
