@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

html {
  overflow-x: hidden;
}

.Landing {
  height: 100vh;
  display: flex;
  flex-direction: row;

}

.Landing--Text {
  font-size: 3.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
}

.Landing--imageHighlight {
  /* back */
  z-index: -1;
}

.Landing--Model {
  /* z-index: -99; */
  width: 100%;
  height: auto;
}

.Landing--Rec {
  transform: translate(-300px, 200px);
}

.Landing--bg {
  position: relative;
  transform: translate(100px, 650px);
  z-index: -2000;
  opacity: 80%;
}

.Landing--Btn {
  color: white;
  background-color: black;
  padding: 15px 15px;
  border-radius: 50% 50%;
}
